# git config --global core.excludesFile .\.gitignore

# Ignore Quartus db file
db
incremental_db
output_files
rtl_work
*.sft
*.vho
*.ini
_*
@_*
*.sdo
*.qws

# Ignore multiple files
*_ignore
*.pdf
*.docx
*.zip
*.xlsx
*.mp4
*.mov 
*.vsdx
*.bak
*.bak1
*.bak2
*.jar
*.wlf

simulation/modelsim/SRAM_Counter_7_1200mv_0c_vhd_slow.sdo